@page {
  size: A4;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.a4 {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  background: white;
  padding: 6mm;
  font-family: "Times New Roman", Times, serif;
  font-size: 10pt;
  line-height: 1.2;
  box-sizing: border-box;
}

@media print {
  .a4 {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

h1 {
  text-align: center;
  font-size: 16pt;
  margin-bottom: 3pt;
}

.contact-info {
  text-align: center;
  margin-bottom: 4pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1pt;
  width: 100%;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 0 4pt;
  white-space: nowrap;
  font-size: 8pt;
}

.icon {
  width: 12pt;
  height: 12pt;
  margin-right: 3pt;
}

.contact-info a {
  text-decoration: none;
  color: #000;
}

h2 {
  border-bottom: 1pt solid #000;
  font-size: 12pt;
  margin-top: 6pt;
  margin-bottom: 2pt;
}

ul {
  padding-left: 10pt;
  margin-top: 1pt;
  margin-bottom: 3pt;
}

li {
  margin-left: 2px;
  margin-bottom: 1pt;
}

.experience-item {
  margin-bottom: 6pt;
}

.job-title {
  font-style: italic;
}

.date-range {
  float: right;
}

.project-title {
  font-weight: bold;
  margin-bottom: 1pt;
  display: flex;
  align-items: start;
  flex-direction: row;
  
}

p {
  margin: 3pt 0;
}

a,
a:visited {
  text-decoration: inherit;
  color: black;
  border-bottom: 1px solid black;
}

.intro {
  margin-bottom: 6pt;
  font-size: 9pt;
}

.compact-list {
  margin-bottom: 2pt;
}

.compact-list li {
  margin-bottom: 0;
}