@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; 
}

@media print {
  body {
    background: white;
  }
  
  .print\:hidden {
    display: none !important;
  }
}
